@{
    ViewBag.Title = "Home Page";
}
<h1>Administrator Activities</h1>
<div class="reading_area">
    <ul>

		<li>@Html.ActionLink("Languages", "Index", "Languages")</li>
		<li>@Html.ActionLink("News", "Index", "News")</li>
		<li>@Html.ActionLink("Schools", "Index", "Schools")</li>
		<li>@Html.ActionLink("SchoolsToNews", "Index", "SchoolsToNews")</li>
    </ul>
</div>