@{
    ViewBag.Title = "Home Page";
}
<h1>Administrator Activities</h1>
<div class="reading_area">
    <ul>

		<li>@Html.ActionLink("AgencyTypes", "Index", "AgencyTypes")</li>
		<li>@Html.ActionLink("BusinessSections", "Index", "BusinessSections")</li>
		<li>@Html.ActionLink("Countries", "Index", "Countries")</li>
		<li>@Html.ActionLink("Sites", "Index", "Sites")</li>
    </ul>
</div>